$lt-gray: #ddd;
$background-dark: #002633;
$background-lessdark: #24464e;
$background-light: #0B4C5F;
$background-pale: #A9E2F3;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.mat-toolbar{
    background-color: $background-dark;
    color:floralwhite;
}

.active {
    background: $background-lessdark;
}